@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@custom-variant dark (&:where(.dark, .dark *));

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@media (width >= 1700px) and (width <= 1900px) {
  :root {
    font-size: 14.5px;
  }
}



/* Para pantallas menores a 380px */
@media (max-width: 379px) {
  :root {
    font-size: 12px;
  }
}

/* De 380px a 399px */
@media (min-width: 380px) and (max-width: 399px) {
  :root {
    font-size: 15px;
  }
}


.scroll-x {
  scrollbar-width: none;
}
